.first{
    height: 30px;
    width: 100%;
    text-align: center;
    background-image: linear-gradient(
       to right,
        green, 
        red ,
        yellow 
       
    );

}
.list{
    background-color: skyblue;
     text-align: center; 
    border: 2px solid red;
    border-radius: 10px;
    height: 70px;
    width: 25%;
  
     padding-left:200px;
    padding-bottom: 10px;
    margin-left:270px;
    padding-right: 200px;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 115px;
    width: 97%;
    background-color: aqua;
    border: 1px solid red;
    border-radius: 10px;
     position: relative; 
     justify-content: space-between;
}
.child1{
    height: 55px;
    width:370px;
 /* position: absolute;  */
    border: 2px solid green;
    border-radius: 5px;
    color: rgb(8, 8, 44);
    padding-left: 15px;

}
.child2{
    height: 55px;
    width:400px;
    /* position: absolute; */
    border: 2px solid green;
    border-radius: 5px;
    color: rgb(8, 8, 44);
    padding-left: 15px;


}
.child3{
    height: 55px;
    width:400px;
    /* position: absolute; */
    border: 2px solid green;
    border-radius: 5px;
    margin-right: 10px;
   color: rgb(8, 8, 44);
    padding-left: 15px;


}
.child4{
    height: 55px;
    width:400px;
    /* position: absolute; */
    border: 2px solid green;
    border-radius: 5px;
    margin-left: 420px;
    color: rgb(4, 4, 39);
    padding-left: 15px;

}
.second{
    height: 30px;
    width: 100%;
    text-align: center;
    text-decoration: underline;
    background-image: linear-gradient(
       to right, 
        red ,
        yellow ,
        red
       
    );
}
.container1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    height: 200px;
    width: 100%;
   border: 2px solid rgb(16, 99, 16);
    background-image: radial-gradient(
       
    blue, 
    green       
    );
    justify-content: space-around;
    
}
.box1{
    color: rgb(103, 25, 25);
    border: 3px solid red;
    border-radius: 10px;
    background-color: rgb(248, 248, 67);
    text-decoration: underline;
    text-align: center;
    height: 110px;
    width: 160px;
    line-height: 1.6;
    margin-top: 40px;
 
}
.box2{
    color: rgb(103, 25, 25);
    border: 3px solid red;
    border-radius: 10px;
    background-color: rgb(248, 248, 67);
    text-decoration: underline;
    text-align: center;
    height: 110px;
    width: 160px;
    line-height: 1.6;
    margin-top: 40px;
}
.box3{
    color: rgb(103, 25, 25);
    border: 3px solid red;
    border-radius: 10px;
    background-color: rgb(248, 248, 67);
    text-decoration: underline;
    text-align: center;
    height: 110px;
    width: 160px;
    line-height: 1.6;
    margin-top: 40px;
}
.box4{
    color: rgb(103, 25, 25);
    border: 3px solid red;
    border-radius: 10px;
    background-color: rgb(248, 248, 67);
    text-decoration: underline;
    text-align: center;
    height: 110px;
    width: 160px;
    line-height: 1.6;
    margin-top: 40px;
}
.container2{
    display: grid;
    border: 2px solid rgb(147, 22, 22);
    grid-template-rows: auto auto auto auto;
    grid-template-columns: repeat(3,400px);
    height: fit-content;
    /* justify-content: space-evenly; */
}
.item1{
    background-color: rgb(244, 39, 39);
    color: white;
    grid-column: 1 / 5;
    text-align: center;
    height: 55px;
    
}
.item2{
background-color: lightgreen;
color: white;
grid-column: 1/2;
height: 80px;
text-align: center;
margin-top: 10px;


}
.item3{
    background-color: rgb(79, 79, 245);
    color: white;
    grid-column: 2/3;
    height: 80px;
    text-align: center;
    margin-top: 10px;
    margin-left: 20px;
    
    
    }
    .item4{
        background-color: blue;
        color: white;
        grid-column: 3/4;
        height: 80px;
        /* text-align: center; */
        margin-top: 10px;
        margin-left: 20px;
        
        }
        .item6{
            background-color: black;
            color: white;
            text-decoration: underline;
            grid-column: 4/5;
            grid-row: 2/5;
            height: 220px;
            width: 100px;
            margin-left: 30px;
            /* grid-column: 1/-1; */
            margin-top: 10px;
        }
        .item5{
            background-color: orange;
            color: white;
            grid-column: 1/4;
            grid-row: 3/ span 5;
            height: 130px;
            margin-top: 10px;
           /* margin-bottom: 10px; */
            width: 100%;
            padding: 0;

        }
        .item7{
            background-color: aqua;
             text-align: center; 
            color: black;
            width: 100%;
            margin-top: 10px;
            height: 40px;
            grid-row: 6/7;
            grid-column: 1/5;
        }